@media  (min-width: 576px){
    .partner-list .col-12:nth-child(2){
        order: 3;
    }
    .partner-list .col-12:nth-child(4){
        order: 3;
    }


}

@media (min-width: 321px) {
    .main-header{
        background-image:url("../img/bcgt.png");
    }
}

@media (max-width: 767px) {
    .partner-list [class*="col-"]{
        margin-bottom: 28px;
    }


}
@media (min-width: 768px) and (max-width: 939px){
    .container {
        padding: 0 48px;
    }
    .partner-list {

         margin-bottom: 0;
    }


}

@media (min-width: 768px) {

    .main-header{
        padding-top: 40px;
        padding-bottom: 234px;
    }
    .primary-link{
        width: auto;
    }
    .wrap-logo-link {
        text-align: left;
    }


    .main-nav {
        margin-bottom: 140px;
    }
    .main-nav__buttons {
        margin-bottom: 0;
        margin-left: auto;
        margin-right: initial;

    }

    .primary-title {
        font-size: 52px;
        margin-bottom: 30px;
        width: 545px;
    }
    .partner-list [class*="col-"]{
        margin-bottom: 36px;
    }


    .primary-title-description{
        font-size: 24px;
        margin-bottom: 36px;
    }

    .partners-title{
        margin-bottom: 36px;
    }

}
@media (min-width: 940px){
    .main-header {
        background-image: url("../img/bcgd.png");

    }


    .col-lg-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }





}
